@tailwind base;
@tailwind components;
@tailwind utilities;

.ns-light {
  Page {
    background-color: #dcdcdc;
  }
  Label {
    color: gray;
  }
}

.ns-dark {
  Page {
    background-color: black;
  }
  Label {
    color: white;
  }
}

.ns-dim {
  Page {
    background-color: #C4DFDF;
  }
  Label {
    color: #F8F6F4;
  }
}

.ns-cafe {
  Page {
    background-color: #884A39;
  }
  Label {
    color: #F9E0BB;
  }
}
